@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

* {
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-size: 18px;
}
.app {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}